<ul class="nav justify-content-end">
  <% if !user_signed_in? %>
    <li class="nav-item">
      <%= link_to 'Registrarse', new_user_registration_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Iniciar Sesión', user_session_path, class:"nav-link" %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class:"nav-link" %>
  <% end  %>
  <li class="nav-item">
    <%= link_to 'Inicio', root_path, class:"nav-link" %>
  </li>
</ul>